# Listas

<span style="color: red;"><b>Todos os exercícios são feitos partindo-se do pressuposto de que todas as entradas são dadas de forma correta. Casos limite não mencionados no enunciado não são abordados porque não fazem parte do exercício.</b></span>

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [5]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]

media = sum(vendas) / len(vendas)

for i, venda in enumerate(vendas):
    print("O vendedor {} efetuou {} vendas a media é de {:.0f}".format(vendedores[i], venda, media))

O vendedor Fulano efetuou 1000 vendas a media é de 1250
O vendedor Beltrano efetuou 1500 vendas a media é de 1250
O vendedor Ciclano efetuou 1200 vendas a media é de 1250
O vendedor Lira efetuou 1300 vendas a media é de 1250

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [10]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]

media = 0

for i, nota in enumerate(notas):
    media = sum(nota) / len(nota)
    if media < 7:
        continue
        
    print("O aluno {} teve a média de {:.1f}\n".format(alunos[i], media))

O aluno José teve a média de 8.8

O aluno Maria teve a média de 10.0

O aluno Andre teve a média de 7.2

O aluno Tiago teve a média de 7.5

O aluno Amanda teve a média de 7.5

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [11]:
idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]

media_salarios = sum(salarios) / len(salarios)
funcionarios = 0


for i, idade in enumerate(idades):
    if idade > 25 and salarios[i] < media_salarios:
        funcionarios += 1
print("A quantidade de funcionários com mais de 25 anos e salário abaixo da média é de {}".format(funcionarios))

A quantidade de funcionários com mais de 25 anos e salário abaixo da média é de 12

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [13]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]


media_temperaturas = sum(temperaturas) / len(temperaturas)

for i, temperatura in enumerate(temperaturas):
    if temperatura < media_temperaturas:
        continue
    print("O mes de {} teve a temperatura de {:.0f} ficando acima da media que é {:.0f}\n".format(meses[i], temperatura, media_temperaturas))

O mes de Janeiro teve a temperatura de 30 ficando acima da media que é 26

O mes de Fevereiro teve a temperatura de 29 ficando acima da media que é 26

O mes de Março teve a temperatura de 28 ficando acima da media que é 26

O mes de Abril teve a temperatura de 28 ficando acima da media que é 26

O mes de Junho teve a temperatura de 26 ficando acima da media que é 26

O mes de Novembro teve a temperatura de 27 ficando acima da media que é 26

O mes de Dezembro teve a temperatura de 32 ficando acima da media que é 26

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [55]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []
minimos = []

for salario in lista_salarios:
    if salario < 1000:
        ab = 100
        minimos.append(salario)
        abonos.append(ab)
        print("Salario R$ {:.0f}  - Abono R$ {:.0f}".format(salario, ab))

for salario2 in lista_salarios:
    if salario2 >= 1000:
        ab2 = (salario2 * 0.2) 
        abonos.append(ab2)
        print("Salario R$ {:.0f} - Abono R$ {:.0f}".format(salario2, ab2))


print(f"""

Foram processados {len(lista_salarios)} colaboradores
Total gasto com abonos: R$ {sum(abonos):.0f}
Valor mínimo pago a {len(minimos)} colaboradores
Maior valor de abono pago: R$ {max(abonos):.0f}

""")

Salario R$ 300  - Abono R$ 100
Salario R$ 500  - Abono R$ 100
Salario R$ 200  - Abono R$ 100
Salario R$ 600  - Abono R$ 100
Salario R$ 800  - Abono R$ 100
Salario R$ 250  - Abono R$ 100
Salario R$ 1000 - Abono R$ 200
Salario R$ 1500 - Abono R$ 300
Salario R$ 3000 - Abono R$ 600
Salario R$ 3400 - Abono R$ 680
Salario R$ 5000 - Abono R$ 1000
Salario R$ 7000 - Abono R$ 1400
Salario R$ 2000 - Abono R$ 400
Salario R$ 1500 - Abono R$ 300
Salario R$ 20000 - Abono R$ 4000


Foram processados 15 colaboradores
Total gasto com abonos: R$ 9480
Valor mínimo pago a 6 colaboradores
Maior valor de abono pago: R$ 4000

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [68]:
print('Comparativo de Consumo de Combustível')
veiculos = ['fusca','gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]
n = 0
preco_litro = 2.25
top = 1000
top_veiculo = ''

for i, autonomia in enumerate(autonomias):
    custo = (1000 / autonomia) * preco_litro
    n += 1
    print("{} - {} - {:.1f} km/l - R$ {:.2f}".format(n, veiculos[i], autonomia, custo))
    if custo < top:
        top = custo
        top_veiculo = veiculos[i]
        
print( f"O Menos concumo é do {top_veiculo}!")

Comparativo de Consumo de Combustível
1 - fusca - 7.0 km/l - R$ 321.43
2 - gol - 10.0 km/l - R$ 225.00
3 - uno - 12.5 km/l - R$ 180.00
4 - vectra - 9.0 km/l - R$ 250.00
5 - peugeot - 14.5 km/l - R$ 155.17
O Menos concumo é do peugeot!

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [106]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]
salario_base = 200

faixas = [0] * 9

for venda in vendas:
    bonus = venda * 0.09
    salario_final = salario_base + bonus

    faixa = int((salario_final - 200) // 100)
    if faixa > 8:
        faixa = 8

    faixas[faixa] += 1

for i, quantidade in enumerate(faixas):
    inicio = 200 + i * 100
    fim = inicio + 99
    print(f"Entre {inicio} e {fim}: {quantidade}")

Entre 200 e 299: 1
Entre 300 e 399: 1
Entre 400 e 499: 1
Entre 500 e 599: 2
Entre 600 e 699: 3
Entre 700 e 799: 1
Entre 800 e 899: 0
Entre 900 e 999: 0
Entre 1000 e 1099: 0